.chats{
    display: flex;
    flex-direction: column;
    flex:0.65;
    border: 1px solid rgb(228, 224, 224);
}

.chats_header{
    height: 10vh;
    border: 1px solid rgb(124, 14, 75);
}

.mainChat{
    height: 60vh;
    border: 1px solid rgb(202, 199, 10);
}

.chatSend{
    height: 10vh;
    border: 1px solid rgb(184, 104, 14);
}
