.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
    /* border: 1px solid green; */
}

.sidebar_header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 20px;*/
    border-right: 1px solid lightgrey;
    background-image: url("https://i.pinimg.com/originals/8c/6b/e2/8c6be22eead703b09eb6145008b7d504.jpg");
    background-color: rgb(34, 206, 206);
    /*border: 1px solid rgb(201, 42, 42);*/
}

.sidebar_header > .MuiAvatar-root{
    margin-left: 20px;
    cursor: pointer;
}

.sidebar_headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
    
}

.sidebar_headerRight > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;
    cursor: pointer;
}


.sidebar_search{
    display: flex;
    align-items:center;
    padding:10px;
    height: 39px;
    background-color: rgb(40, 170, 164);
    /*border: 1px solid rgb(255, 255, 255);*/
}


.sidebar_searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width:100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar_searchContainer > .MuiSvgIcon-root{
    color: rgb(117, 108, 108);
    padding: 10px;
}

.sidebar_searchContainer > input{
    border: none;
    margin-left: 10px;
    outline-width: 0;
}

.contactsList{
    flex: 1;
    height: 63vh;
    background-color: white;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT5ZfavDGRDmWtnTok6Pdg4hs1JDTV_gMk6Iw&usqp=CAU");
    overflow: auto;
    /* border: 1px solid rgb(37, 138, 16);         */
}

.contactsList::-webkit-scrollbar {
    width: 3px;
  }

.contactsList::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

.contactsList::-webkit-scrollbar-thumb {
    background: #888; 
  }

.contactsList::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }



