.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
    border: 1px solid rgb(228, 224, 224);
}

.sidebar_header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 20px;*/
    border-right: 1px solid lightgrey;
    background-color: rgb(153, 156, 156);
    /*border: 1px solid rgb(201, 42, 42);*/
}

.sidebar_header > .MuiAvatar-root{
    margin-left: 20px;

}

.sidebar_headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar_headerRight > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;

}


.sidebar_search{
    display: flex;
    align-items:center;
    padding:10px;
    height: 39px;
    background-color: rgb(189, 172, 172);
    /*border: 1px solid rgb(255, 255, 255);*/
}


.sidebar_searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width:100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar_searchContainer > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
}

.sidebar_searchContainer > input{
    border: none;
    margin-left: 10px;
    outline-width: 0;
}


.contactsList{
    flex: 1;
    height: 63vh;
    background-color: white;
    overflow: auto;
    /*border: 1px solid rgb(37, 138, 16);*/
        
}
